*, *::after, *::before {
    box-sizing: border-box;
}
html {
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    font-family: $raleway;
    font-size: 16px;
}
i {
    font-size: 16px;
    color: $white;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    line-height: 1.5rem;
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}