

.soon-movie {
    position: relative;
    height: 100%;
    width: 100%;
    &-name {
        position: absolute ;
        bottom: 0;
        padding: 8px;
        color: $color-light;
        &-title {font-size: 1.5rem;text-shadow: 1px 1px $color-dark;}
        &-subtitle{font-size: 1.5rem;text-shadow: 1px 1px $color-dark;}
    }
}   